@using SFA.DAS.EmployerDemand.Web.Infrastructure
@model SFA.DAS.EmployerDemand.Web.Models.ProviderContactDetailsViewModel
@{
    ViewData["Title"] = "Confirm contact details";
    ViewData["Description"] = "Confirm the training provider’s email address, telephone number or website.";
}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Confirm @Context.User.Identity.Name's contact details</h1>
            <p>We'll share these with the employers you're showing interest in, so they can contact you about @Model.Course.TitleAndLevel.</p>
            <p>
				Email address <br />
				<span class="govuk-!-font-weight-bold">@Model.EmailAddress</span>
			</p>
            <p>
				Telephone number <br />
				<span class="govuk-!-font-weight-bold">@Model.PhoneNumber</span>
			</p>
            <p>
				Website <br />
				<span class="govuk-!-font-weight-bold">@Model.Website</span>
			</p>
            <p class="govuk-!-margin-top-6">
                <a asp-route="@RouteNames.EditProviderDetails" asp-all-route-data="@Model.RouteDictionary" class="govuk-link govuk-link--no-visited-state">Edit contact details</a>
            </p>
            <form asp-route="@RouteNames.ReviewProviderDetails" asp-all-route-data="@Model.RouteDictionary">
                <button class="govuk-button" data-module="govuk-button">Continue</button>
            </form>
        </div>
    </div>
</main>