@using SFA.DAS.EmployerDemand.Web.Infrastructure
@model SFA.DAS.EmployerDemand.Web.Models.AggregatedProviderCourseDemandViewModel
@{
    Layout = "_LayoutProvider";
    ViewData["Title"] = "Find apprenticeship training opportunities";
    ViewData["Description"] = "View apprenticeship training opportunities and share your contact details with employers.";
}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
    
            <h1 class="govuk-heading-xl">
                Find employers that need a training provider
            </h1>
            @if (Model.TotalResults == 0)
            {
                <p class="govuk-body">No employers are sharing their interest in apprenticeship training.</p>
                <p class="govuk-body govuk-!-margin-bottom-8">When an employer shares their interest, you can view them here.</p>    
            }
            else
            {
                <p class="govuk-body">Employers are trying to find a training provider for the following apprenticeship training courses.</p>
                <p class="govuk-body govuk-!-margin-bottom-8">We can share your contact details with employers that you’re interested in.</p>
            }
        </div>
    </div>
            
    @if (Model.TotalResults != 0)
    {
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-third">
            <div class="das-show-hide" data-module="das-show-hide">
                <div class="das-filter das-!-show--from-tablet" id="fat-filter">
                    <div class="das-filter__header">
                        <h2 class="das-filter__heading">Filter</h2>
                    </div>
                    @if (Model.ShowFilterOptions)
                    {
                    <div class="das-filter__selected-filters">
                        <div class="das-filter__selected-header">
                            <h3 class="das-filter__selected-heading">Selected filters</h3>
                            <a class="das-filter__selected-action govuk-link govuk-link--no-visited-state" asp-route="@RouteNames.ProviderDashboard">Clear <span class="govuk-visually-hidden">the selected filters</span></a>
                        </div>
                        @if (!string.IsNullOrEmpty(Model.SelectedCourse))
                        {
                            <h4 class="das-filter__selected-sub-heading">Courses</h4>
                            <a asp-route="@RouteNames.ProviderDashboard" title="Clear this filter '@Model.SelectedCourse'" class="das-filter__tag das-breakable">&lsquo;@Model.SelectedCourse&rsquo;</a>
                        }
                    </div>
                    }
                    <div class="das-filter__body das-!-show--from-tablet" id="fat-filter-options">
                        <form asp-route="@RouteNames.ProviderDashboard" method="GET">
                            
                            <button type="submit" class="govuk-button" id="filters-submit">Apply filters</button>
                            <div class="govuk-form-group">
                                <label for="SelectedCourseId" class="govuk-label">
                                    <span class="govuk-!-font-weight-bold govuk-!-font-size-24">Apprenticeship training course</span>
                                </label>
                                <select id="SelectedCourseId" name="SelectedCourseId" class="govuk-select" aria-describedby="choose-course-hint">
                                    <option value="">Select an apprenticeship training course</option>
                                    @foreach (var course in Model.Courses)
                                    {
                                        <option value="@course.Id">@course.TitleAndLevel</option>
                                    }
                                </select>
                            </div>
                            <button type="submit" class="govuk-button" id="filters-submit-second">Apply filters</button>
                        </form>
                    </div>
                </div>
                <button class="govuk-button das-filter__toggle das-show-hide__button das-!-show--mobile" data-aria-controls="fat-filter@(Model.ShowFilterOptions ? "-options" : "")" data-button-string="filter @(Model.ShowFilterOptions ? " options" : "")" data-focus-id="Keyword">Show/hide</button>
            </div>
        </div>
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body govuk-!-margin-bottom-6">Sorted by:
                <span class="govuk-!-font-weight-bold">Course name</span>
            </p>

            <h2 class="govuk-heading-m">@Model.TotalFiltered result@(Model.TotalFiltered > 1 ? "s":"")</h2>
            <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-2">

            @foreach (var courseDemand in Model.CourseDemands)
            {
                <div class="govuk-grid-row govuk-!-margin-left-0 govuk-!-margin-right-0 govuk-!-margin-top-3">
                    <div class="govuk-grid-column-two-thirds govuk-!-padding-0">
                        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
                            @courseDemand.Course.TitleAndLevel
                        </h2>
                        <ul class="govuk-list">
                            <li class="govuk-!-font-size-16"><span class="govuk-secondary-colour">Apprenticeship category:</span> @courseDemand.Course.Sector</li>
                            <li class="govuk-!-font-size-16">
                                <span class="govuk-secondary-colour">Apprentices:</span>
                                @courseDemand.NumberOfApprentices
                            </li>
                            <li class="govuk-!-font-size-16">
                                <span class="govuk-secondary-colour">Employers:</span>
                                @courseDemand.NumberOfEmployers
                            </li>
                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-third govuk-!-padding-0">
                        <p class="govuk-body opportunities-label">
                            <a href="#" class="govuk-link govuk-link--no-visited-state">View employers</a>
                        </p>
                    </div>
                    <hr class="govuk-section-break govuk-section-break--visible" style="clear:both">
                </div>
            }
        </div>
    </div>
    }
            
          
</main>