@using SFA.DAS.EmployerDemand.Web.Infrastructure
@model SFA.DAS.EmployerDemand.Web.Models.AggregatedProviderCourseDemandDetailsViewModel
@{
    Layout = "_LayoutProvider";
    ViewData["Title"] = "Find apprenticeship training opportunities";
    ViewData["Description"] = "View apprenticeship training opportunities and share your contact details with employers.";
}
<main class="govuk-main-wrapper govuk-main-wrapper--auto-spacing" id="main-content">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
    
            <h1 class="govuk-heading-xl">
                <span class="govuk-caption-xl">@Model.Course.Title <span class="das-no-wrap">(level @Model.Course.Level)</span></span>
                Which employers are you interested in?
            </h1>

            <div class="das-highlight govuk-!-padding-bottom-0">
                <form asp-route="@RouteNames.ProviderDemandDetails" asp-route-courseid="@Model.Course.Id" method="GET">
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">Filter employers by location</legend>
                        <div class="govuk-grid-row">
                            <div class="govuk-grid-column-one-third das-float-right">
                                <div class="govuk-form-group govuk-!-margin-bottom-5">
                                    <label class="govuk-label" for="radius">
                                        Radius
                                    </label>
                                    <select class="govuk-select govuk-!-width-three-quarters" id="radius" name="radius">
                                        @foreach (var radius in Model.LocationRadius)
                                        {
                                            <!option @(Model.SelectedRadius == radius.Key ? "selected" : "") value="@radius.Key">@radius.Value</!option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="govuk-grid-column-two-thirds">
                                <div class="govuk-form-group govuk-!-margin-bottom-5 das-search-form">
                                    <label class="govuk-label" for="search-location">
                                        Enter a town, city or postcode
                                    </label>
                                    <div class="das-search-form__group">
                                        <input type="search" id="search-location" name="location" title="Search" class="govuk-input das-search-form__input" data-submit-on-selection="true" data-default-value="@Model.Location">
                                        <div class="das-search-form__button-wrap">
                                            <button class="govuk-button das-search-form__button" type="submit">
                                                Apply filters
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                 </form>
            </div>

            @if (Model.ShowFilterOptions)
            {
                <p class="govuk-body"><a asp-route="@RouteNames.ProviderDemandDetails" asp-route-courseid="@Model.Course.Id" class="govuk-link govuk-link--no-visited-state">Clear filters</a></p>
                <p class="govuk-body">@Model.CountDescription</p>
            }

            <form>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="employers-hint">
                        <p class="govuk-body">Select all employers that apply.</p>
                        <div class="govuk-checkboxes">
                            @foreach (var employerDemand in Model.CourseDemandDetailsList)
                            {
                                <div class="govuk-checkboxes__item">
                                    <input class="govuk-checkboxes__input" id="@employerDemand.DemandId" name="employerDemand" type="checkbox" value="@employerDemand.DemandId">
                                    <label class="govuk-label govuk-checkboxes__label" for="@employerDemand.DemandId">
                                        <span class="govuk-!-font-weight-bold">Employer</span>
                                        <br/>
                                        @employerDemand.Location.Name
                                        <br/>
                                        @employerDemand.NumberOfApprentices apprentices@(employerDemand.NumberOfApprentices != 1 ? "s":"")
                                    </label>
                                </div>
                            }
                        </div>

                    </fieldset>
                </div>
                <button type="submit" class="govuk-button" data-module="govuk-button">Continue</button>
            </form>
        </div>
    </div>
</main>
